.active-link {
  color: #4EAEC8;

}

/* body {
  background-image: url(./assets/RM_background_04.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
} */


a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
  margin: 0 10px;
}

a:hover {
  color: #4EAEC8;
  text-decoration: underline;
}

.paginate button {
  color: black;

}

.paginate div {
  color: black;
}